// Define desired color palettes.
$primary: "indigo";
$accent: "amber";
$warn: "pink";

// If desired, import the palettes and modify to your liking.
@import "color-palette";
$color-teal: map-merge($color-teal, ('contrastDefaultColor':  $light-contrast-color));
$color-light-green: map-merge($color-light-green, ('contrastDefaultColor':  $light-contrast-color));

// Import the rest of ember-paper.
@import "ember-paper";

/* I. General */
body {
  background: color('grey', '900');
}

a {
  text-decoration: none;
  color: inherit;
}

md-toolbar.main-toolbar.md-default-theme {
  background-color: color($primary, '900');
}

md-sidenav {
  md-toolbar.md-default-theme.sidenav-header {
    background-color: transparent;
  }
}

.main-nav {
  font-family: 'CaveStoryRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.8em;
  background-color: transparent;
  box-shadow: none;

  md-content {
    background-color: transparent;
    padding: 0;
  }

  .nav-items {
    padding: 0;
    margin: .5em 0;
  }

  .nav-item {
    cursor: pointer;
    margin: .5em 0;
    color: contrastColor($primary, 'A200');
    background: linear-gradient(0.4turn, color($primary, '900'), color($primary, '800'), rgba(48, 79, 254, 0.2));
    opacity: .7;
    transition: opacity .3s ease-in;

    &:hover {
      background: linear-gradient(0.3turn, color($primary, '700'), color($primary, '800'), color('purple', '900'));
      opacity: 1;
    }

    a {
      display: block;
      padding: .5em 1em;
    }
  }
}
