
	<div class="row row-wrap">
		{{#each cmodel as |cimage|}}
		<div class="part-1 steel">
		
			<div class="comic-box fill">
				<img {{bind-attr src=cimage.imageUrl}} alt="Logo">
			</div>

		</div>
		{{/each}}		
	</div>
	
