<p>Clayout Three Start</p>

	<div class="row-colrow row-wrap">
		{{#each cmodel as |cimage|}}
		<div class="part-1 pitch">
		
			<div class="comic-box fill">
				<img {{bind-attr src=cimage.imageUrl}} alt="Logo">
			</div>

		</div>
		{{/each}}		
	</div>
	
<p>Clayout Three End</p>
