<footer class="main-footer">
<div class="center-box row-colrow">
<ul class="part-1 row-colrow social">
<li class="footer-title ">Be Social</li>
<li>{{#link-to 'index'}}{{fa-icon "facebook-square" size=5}}{{/link-to}}</li>
<li>{{#link-to 'index'}}{{fa-icon "google-plus" size=5}}{{/link-to}}</li>
<li>{{#link-to 'index'}}{{fa-icon "twitter" size=5}}{{/link-to}}</li>
</ul>
<ul class="part-1">
<li class="footer-title">Most visited</li>

<li>{{#link-to 'comic'}}Comic{{/link-to}}</li>

</ul>
<ul class="part-1">
<li class="footer-title">About</li>
<li>{{#link-to 'about'}}About Dusk{{/link-to}}</li>

</ul>
</div>
</footer>

{{yield}}
