.comic-panel__layer {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center 0;
  background-color: rgba(44,44,44,0.5);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;


  img {
    object-fit: cover;
    position: absolute;
    left: -25%;
    top: -25%;
    opacity: 0.3;
  }

  &--the-sea {
    box-shadow: none;

    @media only screen
    and (min-width: 1400px) {
      box-shadow: inset 0px 0px 40px 40px color('grey', '900'); /* change to alter the effect*/
    }

    @media only screen
    and (min-width: 1500px) {
      box-shadow: inset 0px 0px 100px 100px color('grey', '900'); /* change to alter the effect*/
    }
  }

  @for $i from 1 through 12 {
    &--f#{$i} {
      background-size: auto (100% * $i);
    }
  }
}
