<div class="comic-screen">
{{#if layoutIsPlain}}
{{partial 'clayoutone'}}
{{/if}}
{{#if layoutIsDynamik}}
{{partial 'clayouttwo'}}
{{/if}}
{{#if layoutIsFull}}
{{partial 'clayoutthree'}}
{{/if}}
<div class="page-num">{{cid}}</div>

</div>
