<section class="row-col fullsize">
	<div class="center-box">
		<h1>Diamanias</h1>
			<a href="/comic/page/1" class="button">{{#if comicLoaded}}Back to Beginning{{else}}Start reading{{/if}}</a>
		{{outlet}}
		
	</div>
</section>
