<div class="container">
  <section class="text-white">
    <h1>Reading using Screen Readers</h1>
    <p>This web comic is meant to be read using text-to-speech and text-to-braille interfaces.</p>
  </section>
  <section class="text-white">
    <h2>Questions and Suggestions</h2>
    <p>In case of issues with using the site or if you'd like to provide feedback,
    please contact <a href="mailto:me@jessicajordan.de">me@jessicajordan.de</a>.
    This page is maintained and upgraded continuously, so errors might be taken care of soon.</p>
  </section>
  {{outlet}}
</div>
