<section class="index__header hero-header">
  <h1 class="text-white">Diamanias</h1>
  <p class="h3-title text-light"><strong>An interactive web comic experience</strong></p>
  <p class="text-light">accessible for screenreader users (beta) <a href="#">Learn more</a></p>
</section>

<section class="centered text-white">
  <h2 class="text-white">An online comic built on open web standards and JavaScript. Powered by EmberJS</h2>
  {{#paper-button href="#" raised=true primary=true class="large"}}Learn more{{/paper-button}}
</section>

{{outlet}}
