<div class="container">
  <section class="text-white">
    <h1>Settings</h1>
  </section>
  <section class="text-white">
    <h2>Animation Autoplay</h2>
    <p>Do you want to view the comic using autoplay animations?</p>
    <p>
      <label for="anima-ap">Autoplay animations are {{currentAnimationSetting}}</label>
      {{input type="checkbox" checked=autoAnimationsEnabled change=(action "toggleSettings" "autoAnimationsEnabled")  id="anima-ap" class="right"}}
    </p>
  </section>
  <section class="text-white">
    <h2>Color Contrast (tbd)</h2>
    <p>Adjust your color settings for improved contrast</p>
  </section>
  {{outlet}}
</div>
